<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>链路统计</title>
    <link rel="stylesheet" th:href="@{/css/layui.css}" th:inline="css">
    <link rel="stylesheet" th:href="@{/css/index.css}" th:inline="css">
</head>
<body>
    <div class="content-bottom content-title">trace-walking全链路统计信息</div>
    <div class="content-bottom">
        <p><span>服务调用的统计</span></p>
        <ul class="title-ul">
            <li class="li-default" data-type="list">列表</li>
            <li data-type="histogram">柱状图</li>
        </ul>
        <div class="data-list">
            <table class="layui-table little-table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>服务名称</th>
                    <th>调用的次数</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="serviceStat: ${serverHistogram}">
                        <td th:text="${serviceStat.serverName}" ></td>
                        <td th:text="${serviceStat.invokeCount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="chart-container"></div>
    </div>
    <div class="content-bottom">
        <p><span>服务调用的拓扑图</span></p>
        <div id="graph-container"></div>
    </div>
    <div class="content-bottom">
        <p><span>服务调用的链路</span></p>
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">展示的链路数</label>
                    <div class="layui-input-inline">
                        <select name="topSum">
                            <option value="10" selected>10条</option>
                            <option value="30">30条</option>
                            <option value="50">50条</option>
                            <option value="100">100条</option>
                            <option value="200">200条</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">traceId</label>
                    <div class="layui-input-inline width-300">
                        <input type="text" name="traceId" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">是否有异常链路</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="exceptionFlag" lay-skin="tag" title="是" value="true">
                        <input type="checkbox" name="exceptionFlag" lay-skin="tag" title="否" value="false">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">链路调用的日期</label>
                    <div class="layui-input-inline layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-date"></i>
                        </div>
                        <input type="text" name="invokeTimeStart" id="invokeTimeStart" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-date"></i>
                        </div>
                        <input type="text" name="invokeTimeEnd" id="invokeTimeEnd" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item form-btn">
                <input type="button" class="layui-btn" id="traceForm" value="查询">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </form>
        <table class="layui-table" th:fragment="walkingCompeteList">
            <colgroup>
                <col style="width: 80px;">
                <col style="width: 285px;">
                <col style="width: 120px;">
                <col style="width: 120px;">
                <col style="width: 160px;">
                <col style="width: 160px;">
                <col style="width: 120px;">
                <col style="width: 150px;">
                <col style="width: 120px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
            </colgroup>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>traceId</th>
                    <th>链路的起点</th>
                    <th>链路的终点</th>
                    <th>起点所在的服务名称</th>
                    <th>开始调用的时间</th>
                    <th>耗时(ms)</th>
                    <th>总链路数</th>
                    <th>调用的方法数</th>
                    <th>是否有异常</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="walkingCompete,status: ${walkingCompeteList}">
                    <td th:text="${status.index+1}"></td>
                    <td th:inline="text">[[${walkingCompete.traceId}]]<a href="javascript:void(0);" class="a-btn" th:data="${walkingCompete.traceId}">[详细信息]</a></td>
                    <td th:text="${walkingCompete.traceStartPos}"></td>
                    <td th:text="${walkingCompete.traceEndPos}" th:class="${walkingCompete.exceptionFlag} ? 'td-waring' : ''"></td>
                    <td th:text="${walkingCompete.applicationName}"></td>
                    <td th:text="${#dates.format(walkingCompete.traceStartTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${walkingCompete.traceTimeConsume}"></td>
                    <td th:text="${walkingCompete.traceSum}"></td>
                    <td th:text="${walkingCompete.invokeMethodSum}"></td>
                    <td th:text="${walkingCompete.exceptionFlag} ? '是' : '否'"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script th:src="@{/js/jqery-3.7.1.js}"></script>
<script th:src="@{/js/echarts.min-5.5.0.js}"></script>
<script th:src="@{/js/layui.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function (){
        // tab 切换
        $(".title-ul").find("li").click(function (){
            $(".title-ul").find("li").each(function (){
                $(this).removeClass("li-default");
            });

            // 添加样式
            $(this).attr("class","li-default");
            let dataType = $(this).attr("data-type");
            if (dataType === "list") {
                $(".data-list").show();
                $("#chart-container").hide();
            }else if (dataType === "histogram") {
                $(".data-list").hide();
                $("#chart-container").show();
                // 初始化方法
                initChart([[${serverHistogram}]]);
            }
        });

        // 初始化Graph
        initGraph();

        // 初始化表单
        layui.use(['laydate'], function(){
            let laydate = layui.laydate;

            // 日期
            laydate.render({elem: '#invokeTimeStart'});
            laydate.render({elem: '#invokeTimeEnd'});
        });

        // 查询详细链路
        $("#traceForm").click(function (){
            let serialize = $("form").serialize();
            let $input = $("input[name='exceptionFlag']:checked");
            if ($input.length > 1) {
                serialize = serialize.replaceAll("exceptionFlag=true", "").replaceAll("exceptionFlag=false", "")
            }
            $(".layui-table").load("/analyze/loadCompeteTopX?" + serialize);
        });

        // 详情
        $(".layui-table").delegate(".a-btn", "click", function (){
            let trNode = $(this).parent().parent();
            let dataFlag = trNode.next().attr("class");
            if (dataFlag === 'trace') {
                return;
            }
            $.get("/analyze/traceDetail", {"traceId": $(this).attr("data")}, function (resp){
                if (resp.success) {
                    let htm = "<tr class=\"trace\"><td colspan=\"10\">";
                    $.each(resp.data, function (index, item){
                        htm += "<div class=\"layui-timeline-item\">";
                        if (index === 0 || resp.data.length === 1) {
                            if (item.methodName.indexOf("java.lang.Throwable:") >= 0) {
                                htm += "<i class=\"layui-icon layui-timeline-axis layui-icon-face-cry\"></i>";
                            }else{
                                htm += "<i class=\"layui-icon layui-timeline-axis layui-icon-face-smile\"></i>";
                            }
                        }else if ((index+1) === resp.data.length) {
                            htm += "<i class=\"layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis\"></i>";
                        }else{
                            htm += "<i class=\"layui-icon layui-timeline-axis layui-icon-fire\"></i>";
                        }
                        htm += "<div class=\"layui-timeline-content layui-text\">";
                        htm += "<div class=\"div-time\">" + (new Date(item.methodStartTime).Format("yyyy-MM-dd hh:mm:ss.S")) +"</div>";
                        htm += "<div class=\"layui-timeline-title\">";
                        htm += "<ul>";
                        htm += "<li>";
                        htm += "<label>调用顺序：</label>";
                        htm += "<span>" + item.invokeOrder + "</span>";
                        htm += "</li>";
                        htm += "<li>";
                        htm += "<label>spanId：</label>";
                        htm += "<span>" + item.spanId + "</span>";
                        htm += "</li>";
                        htm += "<li>";
                        htm += "<label>方法耗时(ms)：</label>";
                        htm += "<span>" + item.methodTimeConsume + "</span>";
                        htm += "</li>";
                        htm += "<li>";
                        htm += "<label>调用的方法：</label>";
                        htm += "<span>" + item.methodName + "</span>";
                        htm += "</li>";
                        htm += "<li>";
                        htm += "<label>服务依赖：</label>";
                        htm += "<span>" + item.consumerServerName +" -> "+ item.providerServerName + "</span>";
                        htm += "</li>";
                        htm += "</ul>";
                        htm += "</div>";
                        htm += "</div>";
                        htm += "</div>";
                    });
                    htm += "</td></tr>";
                    trNode.after(htm);

                    // 初始化固定条
                    initFixbar();
                }
            });
        });
    });

    function initChart(objList) {
        // 初始化函数
        let xAxisData = [];
        let seriesData = [];
        $.each(objList, function(index, item){
            xAxisData.push(item.serverName);
            seriesData.push(item.invokeCount);
        });

        const myChart = echarts.init($("#chart-container")[0]);
        const option = {
            xAxis: {
                type: 'category',
                data: xAxisData
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    data: seriesData,
                    type: 'bar'
                }
            ]
        };

        option && myChart.setOption(option);
    }

    function initFixbar() {
        layui.use(function(){
            var util = layui.util;
            // 自定义固定条
            util.fixbar({
                bars: [{
                    type: '收起链路详情',
                    icon: 'layui-icon-up',
                    style: 'background-color: #FF5722;'
                }],
                css: {right: 20, bottom: 200},
                on: {
                    mouseenter: function(type){
                        layer.tips(type, this, {
                            tips: 4,
                            fixed: true
                        });
                    },
                    mouseleave: function(type){
                        layer.closeAll('tips');
                    }
                },
                // 点击事件
                click: function(type){
                    if ("top" !== type) {
                        $(".layui-table").find(".trace").remove();
                        $(".layui-fixbar").remove();
                    }
                }
            });
        });
    }

    function initGraph(){
        $.get("/analyze/topologyMap", {}, function (resp){
            if (resp.success) {
                let data = resp.data;

                let chartDom = document.getElementById('graph-container');
                let myChart = echarts.init(chartDom);
                let option = {
                    title: {
                        text: '服务调用关系图'
                    },
                    animationDurationUpdate: 1500,
                    animationEasingUpdate: 'quinticInOut',
                    series: [
                        {
                            type: 'graph',
                            layout: 'none',
                            symbolSize: 50,
                            roam: true,
                            label: {
                                show: true
                            },
                            edgeSymbol: ['circle', 'arrow'],
                            edgeSymbolSize: [4, 10],
                            edgeLabel: {
                                fontSize: 20
                            },
                            data: data.itemList,
                            links: data.refList,
                            lineStyle: {
                                opacity: 0.9,
                                width: 2,
                                curveness: 0
                            }
                        }
                    ]
                };

                option && myChart.setOption(option);
            }
        });
    }
</script>
</html>