body{
    background-color: dimgray;
}
.content-bottom{
    margin: 10px;
}
p{
    font-size: 16px;
    border-bottom: 1px solid #16baaa;
    padding-bottom: 8px;
    margin: 15px 0 15px -10px;
}
p span {
    padding: 10px 10px;
    background: #16baaa;
}
.little-table{
    width: 25%;
}
#chart-container {
    position: relative;
    height: 100vh;
    max-height: 400px;
    overflow: hidden;
    display: none;
}
.li-default{
    color: #16baaa;
    border-bottom: 2px solid #16baaa !important;
}
.title-ul{
    display: inline-block;
}
.title-ul li{
    float: left;
    text-align: center;
    cursor: pointer;
    width: 100px;
}
#server-stat .title-ul li{
    border-bottom: 1px solid #d2d2d2;
}
td ul {
    border: 1px solid #16baaa;
    padding: 5px 15px;
    width: auto;
}
td ul li {
    margin-top: 5px !important;
    list-style-type: none !important;
}
td ul label {
    text-align: right;
    display: inline-block;
    width: 115px;
    color: #d2d2d2;
}
.a-btn{
    cursor: pointer;
    color: blue;
    display: table-cell;
}
.div-time{
    font-size: 16px;
    font-weight: bolder;
    color: darkmagenta;
}
#graph-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    max-height: 500px;
}
#pie-container {
    height: 100vh;
    overflow: hidden;
    margin-top: 15px;
}
.content-title{
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}
.layui-form-label{
    width: 130px;
}
.layui-input-block{
    width: 220px;
}
.form-btn{
    margin-left: 22px;
}
.width-300{
    width: 300px !important;
}
.td-waring{
    color: coral;
}
.layui-div-padding{
    padding: 15px;
}
.title-p{
    padding-bottom: 6px;
    margin-left: -25px;
}
.method-data-list{
    min-height: 550px;
    margin-top: 15px;
}
form{
    border: 1px solid #d2d2d2;
    padding-top: 10px;
    margin-top: -8px;
}